# APP
HOST=
PORT=
JWT_SECRET=

# FE
FE_URL=

# Minecraft DB (LimboAuth AUTH table, read-only)
MC_DB_HOST=
MC_DB_PORT=3306
MC_DB_NAME=minecraft
MC_DB_USER=
MC_DB_PASSWORD=

# GoPlay DB (orders, votes)
GP_DB_HOST=
GP_DB_PORT=3306
GP_DB_NAME=goplay
GP_DB_USER=
GP_DB_PASSWORD=

# VOTES
HOTMC_SECRET_KEY=
MINESERV_SECRET_KEY=
MCSERVERA_SECRET_KEY=

# FREEKASSA
FREEKASSA_MERCHANT_ID=
FREEKASSA_SECRET1=
FREEKASSA_SECRET2=

# BRIDGE
BRIDGE_URL=
BRIDGE_SECRET=
